body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0;
    background: linear-gradient(145deg, #3f7cf6 50%, #333 0);
}

.logo {
    width: 10em;
    height: 10em;
    margin: .5em auto 4em;
    border: .2em solid white;
    background: linear-gradient(to right, transparent 0, transparent calc(50% - 1em), white 0, white calc(50% + 1em), transparent 0), linear-gradient(to bottom, transparent 0, transparent calc(50% - 1em), white 0, white calc(50% + 1em), transparent 0), #e3735a;
    background-blend-mode: overlay;
    transform: perspective(.5em) rotateY(1deg);
    box-shadow: .1em .1em .1em rgba(233, 233, 233, 0.48);
}


/**nav buttons**/

.nav-wrapper {
    position: relative;
}


/**hide on big screens***/

.nav-wrapper .btn {
    display: none;
}

header nav .nav-in {
    position: relative;
    display: flex;
    transition: all .3s ease-out;
}

.spacer {
    flex-grow: 1;
}

nav .nav-in a {
    padding: .4em .9em 2em;
    color: white;
    white-space: nowrap;
    border-bottom: .3em solid transparent;
}

nav .nav-in a:nth-child(even) {
    border-color: #d6fa56;
}

nav .nav-in a:nth-child(odd),
nav .nav-in a:last-child {
    border-color: #e3735a;
}

nav .nav-in a:last-child {
    flex-basis: auto;
    border-color: transparent;
}

nav .nav-in a:last-child .icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    background: white;
    vertical-lign: middle;
    margin-right: .4em;
    border-radius: 50%;
}

.text {
    vertical-align: text-top;
    line-height: 0;
}


/**active & hover states **/

nav a:hover {
    opacity: 0.9;
}

.btn:active,
nav a:active {
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    body {
        overflow: hidden;
        font-size: 90%
    }
    header {
        flex-direction: column-reverse;
        padding: 2em 0;
    }
    header .logo {
        margin: 4em auto;
    }
    .spacer {
        display: none !important;
    }
    header .nav-wrapper nav {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        align-items: center;
    }
    nav .nav-in a {
        padding-left: 2em;
        padding-right: 2em;
    }
    nav .nav-in a:last-child {
        border-color: #e3735a;
    }
    .nav-wrapper .btn {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-80%);
        border: 0;
        outline: 0;
        padding: .5em .5em;
        color: white;
        background: rgba(51, 51, 51, 0.4);
        font-weight: 900;
        font-size: 2em;
        line-height: 0.4;
        cursor: pointer;
        z-index: 10;
        border: .06em solid white;
    }
    .nav-wrapper .btn-prev {
        left: 0;
        border-left: none;
    }
    .nav-wrapper .btn-next {
        right: 0;
        border-right: none;
    }
}

@media (min-width: 800px) {
    header .nav-wrapper nav > .nav-in {
        transform: translateX(0) !important;
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: .7em;
    }
}