img {
    border-radius: 10px;
    width: 60%;
}

#div {
    float: right;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

h2 {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
}

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

h2 span.spacer {
    padding: 0 5px;
}

body {
    background-image: url("../pictures/game background.png")
}